.task {
  font-size: 1rem;
  padding: 0 4px 0 12px;
  display: flex;
  align-items: center;
  min-height: 48px;
  /*border-top: #e5e6e7 solid 1px;*/
}

.task:hover {
background: #f2f3f4;
}

a {
  color: #0056b3;
  text-decoration: underline;
}

.task-title {
  padding-left: 0.3rem;
  line-height: 1.5rem;
}

.task-title-url {
  padding-left: 0.3rem;
  margin-top: 0.45rem;
  line-height: 1.5rem;
  text-decoration: underline;
  color: #0C6CB6;
  cursor: pointer;
}

.task-title-local {
  color: #bbb;
  text-decoration: none;
}

.status-icon-container {
  width: 30px;
}

.status-icon {
  margin: 9px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.icon-bullet {
  font-size: 8px;
  color: #bbb;
}

.action-icon {
  margin: 0 9px 0 9px;
  width: 20px !important;
  height: 20px !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bbb;
}

.done {
  color: #4caf50;
}

.fail {
  color: #f44336;
}

.progress {
  color: #fbc02d;
}

.created {
  color: #bbb;
}
