.task {
  font-size: 1rem;
  padding: 6px 10px 6px 8px;
  display: flex;
  min-height: 36px;
  position: relative;
}

.task:hover {
  background: #f2f3f4;
}

a {
  color: #0056b3;
  text-decoration: underline;
}

.task-title {
  padding-left: 0.2rem;
  line-height: 1.5rem;
}

.task-title-url {
  padding-left: 0.3rem;
  margin-top: 0.45rem;
  line-height: 1.5rem;
  text-decoration: underline;
  color: #0C6CB6;
  cursor: pointer;
}

.task-title-local {
  color: #bbb;
  text-decoration: none;
}

.status-icon-container {
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px 4px 0 0;
}

.status-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.menu-button {
  position: absolute;
  color: #bbb;
  right: 6px;
  top: -2px;
  background-color: #f2f3f4;
}

.icon-bullet {
  font-size: 8px;
  color: #bbb;
}

.action-icon {
  margin: 0 9px 0 9px;
  width: 20px !important;
  height: 20px !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bbb;
}

.more-icon {
  color: #bbb;
  font-size: 20px !important;
}

.done {
  color: #4caf50;
}

.fail {
  color: #f44336;
}

.progress {
  color: #fbc02d;
}

.created {
  color: #bbb;
}

.menu-item {
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 0 12px 0 8px;
}

.menu-icon {
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4px 0 0;
  font-size: 12px !important;
  color: #bbb;

}

.menu-icon-delete {
  font-size: 12px;
}

.menu-divider {
  margin: 6px 0 !important;
}
