{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "globals": {
    "$": true,
    "System": true,
    "isNaN": true
  },
  "rules": {
    "arrow-parens": "off",
    "semi-style": "off",
    "import/no-duplicates": "off",
    "no-duplicate-imports": "off",
    "react/react-in-jsx-scope":"off",
    "no-multiple-empty-lines": "off",
    "no-tabs": "off",
    "array-bracket-spacing": "off",
    "no-restricted-syntax": "off",
    "spaced-comment": "off",
    "no-unused-vars": "off",
    "react/require-default-props": "off",
    "react/jsx-indent": "off",
    "object-curly-newline": "off",
    "camelcase": "off",
    "no-use-before-define": "off",
    "no-console": "off",
    "semi": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "react/jsx-closing-tag-location": "off",
    "react/jsx-wrap-multilines": "off",
    "no-trailing-spaces": "off",
    "react/jsx-closing-bracket-location": "off",
    "react/jsx-tag-spacing" : "off",
    "jsx-quotes": "off",
    "react/no-array-index-key": "off",
    "arrow-body-style": "off",
    "padded-blocks": "off",
    "object-curly-spacing": "off",
    "no-cond-assign": 0,
    "no-bitwise": 0,
    "no-plusplus": 0,
    "no-mixed-operators": 0,
    "no-underscore-dangle": 0,
    "import/prefer-default-export": 0,
    "prefer-promise-reject-errors": 0,
    "no-param-reassign": 0,
    "no-case-declarations": 0,
    "comma-dangle": 0,
    "class-methods-use-this": 0,
    "default-case": 0,
    "function-paren-newline": 0,
    "global-require": 0,
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/media-has-caption": 0,
    "jsx-a11y/no-noninteractive-element-to-interactive-role": 0,
    "max-len": "off",
    "no-confusing-arrow": ["error", { "allowParens": true }],
    "no-nested-ternary": 0,
    "no-return-assign": ["error", "except-parens"],
    "no-unused-expressions": ["error", { "allowTernary": true }],
    "react/forbid-prop-types": 0,
    "react/jsx-first-prop-new-line": 0,
    "react/jsx-max-props-per-line": 0,
    "react/sort-comp": 0,
    "jsx-a11y/anchor-is-valid": ["error", {
      "components": ["Link"],
      "specialLink": [ "to", "hrefLeft", "hrefRight"],
      "aspects": ["noHref", "invalidHref", "preferButton"]
    }]
  }
}
