.users {
  display: flex;
  margin-left: 30px;
  position: sticky;
  height: 48px;
  min-height: 48px;
  align-items: center;
}

.user {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user_name {
  font-weight: bold;
  margin-left: 16px;
}

.user_skeleton {
  height: 30px;
  padding-right: 20px;
}
