.text {
  font-size: 2.2rem;
  color: #000000;
  font-family: 'Open Sans', serif;
  font-weight: 700;
  letter-spacing: -0.1rem;
}

.small {
  font-size: 1.8rem;
}

.message {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
