.chat-container {
}
.chat-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.chat-bubble {
  height: 5rem;
  width: 10rem;
  border-radius: 0.6rem;
  background-color: #dfdfdf;
  opacity: 1;
  transition: 1s opacity;
}
.chat-bubble-inner {
  width: 10rem;
  height: 5rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-speaker-icon {
  transition: 0.3s opacity;
  height: 3rem;
  width: 3rem;
  opacity: 0;
}
